@font-face {
  font-family: Silkscreen;
  src: url('/fonts/slkscr.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #171C21;
}

.red-asterisk {
  color: red;
}

header {
  backdrop-filter: blur(20px);
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content-header {
  display: flex;
  align-items: center;
}

body {
  background: transparent;
  background-size: cover;
  height: 100vh;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

:link {
  color: #D0B267;
}

main {
  padding: 2rem;
}

footer {
  background: #FFFFFF;
  color: #000;
  padding: 2rem;
  text-align: center;
  font-size: 13px;
}