@font-face {
  font-family: Silkscreen;
  src: url('/fonts/slkscr.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-asterisk {
  color: red;
}

header {
  backdrop-filter: blur(20px);
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content-header {
  display: flex;
  align-items: center;
}

body {
  background: transparent;
  background-size: cover;
  height: 100vh;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    background: rgb(245 251 245);
  }

  body {
    background: rgb(245 251 245);
    color: #000;
  }

  .card {
    border: 1px solid rgb(112 121 115);
    border-radius: 20px;
    padding: 2rem;
    background: rgb(245 251 245);
  }

  .md-button {
    background: rgb(32 106 78);
    color: rgb(255 255 255);
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 55px;
  }

  :link {
    color: rgb(32 106 78);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rgb(15 21 17);
  }

  body {
    background: rgb(15 21 17);
    color: #FFFFFF;
  }

  .card {
    border: 1px solid rgb(138 147 140);
    border-radius: 20px;
    padding: 2rem;
    background: rgb(15 21 17);
  }

  .md-button {
    background: rgb(141 213 178);
    color: rgb(0 56 37);
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 55px;
  }

  :link {
    color: rgb(32 106 78);
  }
}

main {
  padding: 2rem;
  margin-top: 20%;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  background-color: transparent;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 80%;
  max-width: 600px;
}

.controls button {
  background-color: rgb(61 99 115);
  color: rgb(255 255 255);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.counter {
  font-size: 16px;
}

.ship{
  background-color: rgb(77 99 87);
  border-radius: 30px;
  color: #FFF;
  padding: 8px;
  height: 30px;
  width: 30%;
  text-align: center;
  font-size: 11px;
  margin: 4px;
}

.category{
  display: flex;
  position: relative;
}

footer {
  background: #FFFFFF;
  color: #000;
  padding: 2rem;
  text-align: center;
  font-size: 13px;
}